# ╭─────────────────────────────────────────────────────╮
# │      Theme / Cursor / Font / Transparency           │
# ╰─────────────────────────────────────────────────────╯

# Color theme
theme = Catppuccin Mocha

# Cursor style:
#   block         = █
#   bar           = |
#   underline     = _
#   block_hollow  = □
cursor-style = block

# Blink the cursor
cursor-style-blink = true

# Cursor color
cursor-color = #f9e2af

# Increase font weight on macOS.
# CoreText tends to render fonts slightly thinner than intended.
font-thicken = true

# Manually control font thickening strength.
# (Higher value = thicker text)
 font-thicken-strength = 200

# Minimum foreground/background contrast.
# 1 = disabled (no forced contrast adjustment)
minimum-contrast = 1

# Window color space.
# sRGB is recommended unless you're using HDR displays.
window-colorspace = srgb

# Background transparency.
# 1.0 = opaque
# 0.0 = fully transparent
background-opacity = 1

# macOS blur amount behind the transparent window.
background-blur = 10

# Don't dim inactive split panes.
unfocused-split-opacity = 1.0

# Terminal font
font-family = "Maple Mono NF"

# Font size
font-size = 16
